
@{
    ViewBag.Title = "Index";
    var Supplierinfo = ViewData["Sinfo"] as AssignmentMVC01.Models.Supplier;
    var CustomerInfo = ViewBag.Cinfo;
}

<h2>Index</h2>
<h2>Table of Supplier details</h2>
<h3> @ViewData["Header"]</h3>


<table border="1px">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>

    </thead>
    <tbody>
        @foreach(var Supplier in Model)
            {
                <tr>
                    <td>@Supplier.SId</td>
                    <td>@Supplier.SName</td>

                    <td>@Supplier.SAddress</td>

                </tr>
            }
    </tbody>


    


    <tr>
        <td>Supplier ID:</td>
        <td>@Supplierinfo.SId</td>
    </tr>
    <tr>
        <td>Supplier Name:</td>
        <td>@Supplierinfo.SName</td>
    </tr>
    <tr>
        <td>Supplier Gender:</td>
        <td>@Supplierinfo.SGender</td>
    </tr>
    <tr>
        <td>Supplier Address:</td>
        <td>@Supplierinfo.SAddress</td>
    </tr>
    <tr>
        <td>Supplier Products:</td>
        <td>@Supplierinfo.SProducts</td>
    </tr>

</table>

<h2>Table of Customer details</h2>
<h3> @ViewData["Header1"]</h3>

<table border="1px">
    <tr>
        <td>Cutomer ID:</td>
        <td>@CustomerInfo.CId</td>
    </tr>
    <tr>
        <td>Cutomer Name:</td>
        <td>@CustomerInfo.Name</td>
    </tr>
    <tr>
        <td>Cutomer Gender:</td>
        <td>@CustomerInfo.Gender</td>
    </tr>
    <tr>
        <td>Cutomer City:</td>
        <td>@CustomerInfo.City</td>
    </tr>
  

</table>

